*{
   border:1px solid red;
}

body{
    font-family: 'Roboto';
    flex-direction: column;
}

.fist-section{
    display: flex;
    flex-direction: row;

}


.logo{
    height:50px
}
.image-file{
    height:250px;
    display: flex;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}

.links a{
    margin:10px

}



.container{
    display:flex;
    justify-content:center;
    gap:10px
}


.first-box{
    width:50%
}
.second-box{
    width:50%
}
.image{
    width:100%;
height:100%;

}











