*{
   
}

body{
    font-family: 'Roboto'
}

.first_section{
    display:flex;
    color: #1f2937;
}


.first-background{
    background-color: #1f2937;
}
.logo {
    height:50px;
}

.menu{
    display: flex;
    justify-content: space-between;
    color:#ced0cc;
   
}

.links {
    display:flex;
    align-items: center;
    
}
.links a{
    margin:5px
}
.text h1{
    font-size:48px;   
    font-weight:900;
    color:#f9faf8;
}

.text p {
    color:#e5e7eb;
    font-size:18px;
}

button{
    background-color: #3882f6;
    width: 85px;
    border-radius: 5px;
    color: #f9faf8;
    font-weight:bold;
    padding:5px;
    border-style: hidden;
}